/noncleaned_data/
/desktop/
/third_party/
/firmware/reference/
/data/reference/
/simulation/dynamics/Simulation.m
/simulation/dynamics/Simulation_simulink.m
/simulation/dynamics/get_Y_sym.m
/simulation/dynamics/ode.m
/simulation/dynamics/visualize_phantom_dynamics.m
/build*/
/output/
/.vs/
/.vscode/
/.pio/
**/__pycache__/
**/slprj/
*.slxc
*.asv
*.autosave
*.obj
*.exe
*.pdb
*.ipch
*.zip
*.pdf
*.mp4
*.webm
*.user
